
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


//KNOCKS VARIABLES

$knocksPrimaryColor : #691a40;
$knocksLightColor : #fffceb;
$knocksLightActiveColor : #fff5d1;
$knocksActiveColor : #91124f;
$knocksPrimaryColorTransparent : rgba(105,26,64 , 0.9);
$knocksActiveColorTransparent : rgba(145,18,79,0.9);
$knocksLightRed : #ef5350;
$knocksSuccessColor : #1de9b6;
$knocksLightRgba : rgba(255,248,220 , 0.5);
$knocksPinkColor : #f06292;
$knocksLightPinkColor : #f8bbd0;
$knocksGrayColor : #cfd8dc ;
//lightrgb(255,248,220)

//Knocks MIXINS

@mixin knocks_border_radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin knocksPrimaryColorBG($opacity){
	background-color: rgba(105,26,64 ,$opacity) ;
}

@mixin knocksPrimaryColorText($opacity){
	color: rgba(105,26,64 ,$opacity) ;
}
@mixin knocksActiveColorBG($opacity){
	background-color: rgba(145,18,79,$opacity);
}

@mixin knocksActiveColorText($opacity){
	color: rgba(145,18,79,$opacity);
}